/* ------------------------------------------------------------ *\
	article 
\* ------------------------------------------------------------ */

.article {
	margin-left: auto; 
	margin-right: auto; 
	padding: 15px 0; 
	width: 100%; 
	max-width: 994px; 
	display: flex; 
	letter-spacing: 0.0465em; 

	@include breakpoint-down(tablet) {
		padding: 22px 0;
		flex-direction: column;
		text-align: center; 
	}

	h2 {
		margin-bottom: 4px; 

		@include breakpoint-down(tablet) {
			margin-bottom: 2px; 
			flex: 0 0 auto;
		}
	}

	h3 {
		margin-bottom: 6px; 

		@include breakpoint-down(tablet) {
			flex: 0 0 auto;
		}
	}

	p {
		margin-bottom: 12px; 
		color: rgba(255,255,255,.75); 
		line-height: 1.35; 

		@include breakpoint-down(tablet) {
			margin: auto 0;
			flex: 0 0 auto;
			letter-spacing: 0.04em; 
			line-height: 1.45;
		}
	}

	small {
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0.2em;
		color: rgba(255,255,255,.75); 
		font-size: 13px; 
		font-weight: 400; 
	}

	iframe {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}

	.article__head {
		position: relative; 
		margin-bottom: 24px; 
		margin-left: -64px; 
		width: 100%; 
		max-width: 500px; 
		max-width: 558px; 
		min-height: 466px; 
		flex: 0 1 auto;
		order: 99;
		z-index: 1; 
		transform-style: preserve-3d;

		@include breakpoint-down(tablet) {
			margin: 9px 0 0; 
			max-width: none; 
			min-height: 200px; 
			padding-top: 59%; 
		}
	}	

	.article__head button {
		position: absolute; 
		top: 50%; 
		left: 0; 
		transform: translate(-50%, -50%); 
		width: 210px; 
		height: 210px; 
		background: none; 
		background-image: url(../images/play.png);
		background-size: 100% auto;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		box-shadow: none;
		border: 0;
		outline: none;
		appearance: none;
		z-index: 3; 

		@include breakpoint-down(tablet) {
			left: 50%; 
			width: 126px; 
			height: 126px; 
		}
	}

	.article__head button:hover {
		transform: translate(-50%, -50%) scale(1.05, 1.05); 
	}

	.article__poster {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transition: transform .6s .2s ease-out, visibility .6s .2s ease-out, opacity .6s .2s ease-out;
		z-index: 2; 
	}

	.article__poster:before {
		content: '';
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%;
		height: 100%; 
		background-color: rgba(0,0,0,.1); 
		opacity: 0; 
		visibility: hidden; 
		pointer-events: none;

		@include breakpoint-down(tablet) {
			background-color: rgba(0,0,0,.2); 
		}
	}

	.article__video {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		transition: $tsi;
		pointer-events: none;
	}

	.article__body {
		position: relative; 
		margin-top: 24px; 
		padding: 12px 38px; 
		width: 100%; 
		max-width: 558px; 
		min-height: 466px; 
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		@include breakpoint-down(tablet) {
			margin: 0 #{-$shell-gutter} ;
			padding: 89px $shell-gutter 6px;
			width: 100vw; 
			max-width: none; 
			min-height: 269px; 
			flex-direction: row;
		}
	}	

	.article__body:before {
		content: '';
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%;
		height: 100%; 
		background: linear-gradient(0deg, rgba(12,4,1,1) 0% 24px, rgba(12,4,1,0) 100%);
		background-color: rgba(0,0,0,.2); 
		pointer-events: none;

		@include breakpoint-down(tablet) {
			background-color: rgba(0,0,0,.4); 
		}
	}

	.article__content {
		position: relative; 
		margin-top: auto; 
		width: 100%; 
		max-width: 380px; 
		flex: 0 1 auto;

		@include breakpoint-down(tablet) {
			margin: 0; 
			max-width: none; 
			display: flex; 
			flex-direction: column;
		}
	}

	.article__btn {
		position: relative; 
		padding: 3px 18px 9px 3px;
		display: inline-block; 
		font-size: 14px; 
		font-weight: 600; 
		line-height: 1; 
		font-family: $ff-saveur; 
		letter-spacing: .23em;
		text-transform: uppercase; 
		color: $c-gold; 
		text-decoration: none; 
		transform-style: preserve-3d;

		@include breakpoint-down(tablet) {
			margin: 6px auto 0;
			flex: 0 0 auto;
		}
	}

	.article__btn:hover:before {
		transform: translateY(10px); 
		opacity: 0; 
	}

	.article__btn:before {
		content: '';
		position: absolute; 
		bottom: 0; 
		left: 0; 
		width: 100%; 
		height: 1px; 
		background-color: #FFCC5D; 
		box-shadow: 0 2px 4px #CF8C25;
		opacity: 0.5; 
		pointer-events: none;
		transition: $tsi;
	}

	.article__btn:after {
		content: '';
		position: absolute; 
		top: 0;  
		right: 3px; 
		width: 10px; 
		height: 20px; 
		background-image: url(../images/svg/arrow-download.svg); 
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: 50% 50%
	}
}

/*  article--reverse  */
.article--reverse {
	.article__head {
		margin-left: 0; 
		margin-right: -60px; 
		max-width: 495px; 
		order: -1;

		@include breakpoint-down(tablet) {
			margin: 9px 0 0; 
			max-width: none; 
			order: 99;
		}
	}

	.article__head button {
		left: auto; 
		right: 0; 
		transform: translate(50%, -50%); 

		@include breakpoint-down(tablet) {
			left: 50%; 
			right: auto; 
			transform: translate(-50%, -50%); 
		}
	}

	.article__head button:hover {
		transform: translate(50%, -50%) scale(1.05, 1.05); 

		@include breakpoint-down(tablet) {
			transform: translate(-50%, -50%) scale(1.05, 1.05); 
		}
	}

	.article__content {
		margin-left: 78px; 

		@include breakpoint-down(tablet) {
			margin: 0; 
		}
	}
}

/*  Video playing state  */
.article.has-video-playing {
	.article__head button,
	.article__poster {
		opacity: 0; 
		visibility: hidden; 
		pointer-events: none;
	}

	.article__head button {
		transition: transform .6s ease-out, visibility .6s ease-out, opacity .6s ease-out;
	}

	.article__poster {
		transform: translateX(5vw); 
	}

	.article__video {
		opacity: 1; 
		visibility: visible; 
		pointer-events: auto;
	}
}

.article--reverse.has-video-playing {
	.article__poster {
		transform: translateX(-5vw); 

		@include breakpoint-down(tablet) {
			transform: translateX(5vw); 
		}
	}
}
