/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden; 

	.wrapper__frame {
		position: absolute; 
		top: 10px; 
		left: 8px; 
		right: 8px; 
		bottom: 18px; 
		pointer-events: none;
		z-index: 5; 

		@include breakpoint-down(tablet) {
			top: 47px; 
			left: 6px; 
			right: 6px; 
			bottom: 6px;  
		}
	}
}
