<footer class="footer">
	<div class="footer__shell shell">
		<figure>
			<img src="assets/images/temp/pan.jpg" alt="">
		</figure>

		<a href="#"><img src="assets/images/svg/logo-tastes.svg" alt=""></a>

		<a href="#"><img src="assets/images/logo.png" alt="" width="199" height="128"></a>

		<p>YOU CAN STILL BE PART OF THE EXPERIENCE</p>

		<a href="#" class="btn">BUY TICKETS</a>

		<p class="footer__copyright">&copy;2020&nbsp;TOMORROWLAND <span>&nbsp;&bull;&nbsp;</span> <br> <a href="#">PRIVACY POLICY TERMS&nbsp;&amp;&nbsp;CONDITIONS</a></p><!-- /.footer__copyright -->
	</div><!-- /.footer__shell -->
</footer><!-- /.footer -->
